:root{
    --blanco : #FFFFFF;
    --negro: #000000;
    --gris : #373030;
    --azul: #02006e; 
    --font-prin:'Graduate', cursive;
    --font-sec:'Courgette', cursive;
    --font-lib:'Staatliches', cursive;
    --font-desc:'Raleway', sans-serif;
}

/*Libros*/
.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}
img{
    max-width: 30rem;
    max-height: 55rem;
    background-size:cover;
    padding: 2rem 3rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-top: 5rem;
    padding-left: 3rem;
}
.libros{
    background-color:  rgb(102 110 248 /60%) ;
    max-width: 35rem;
    padding: 1rem;
    border: 3px solid var(--azul);

}
.libros__nombr{
   font-size: 4rem;
   color: var(--azul);
   text-align: center;
   font-family: var(--font-prin);
}
.libros__descr{
  font-size: 1.8rem;
  color: var(--negro);
  text-align: justify;
  padding: 1rem;
  font-family: var(--font-sec);
}
.libros__nombr, 
.libros__descr{
    line-height: 5rem;
}
.libros a{
    text-decoration: none;
}
/*media queries*/
@media(min-width: 769px){

    img{
        max-width: 45rem;
    }
    .libros{
        max-width: 45rem;
    }
}
@media(max-width: 767px){
    img{
        max-width: 30rem;
    }
    .libros{
        max-width: 35rem;
    }
}